
input, button{
    border: 1px solid black;
    margin-bottom: 10px;
}

button{
    width: 150px;
    font-size: 22px;
    background-color: #6628AD;
    margin-left: 25%;
    margin-right: 25%;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}